*{
            margin:0;
        }
        body{
            background-color: rgb(81, 110, 81);
    
        }
        p{
            font-size: 15x;
            
            
        }
        p b {
            font-size: 13px;
            font-family: sans-serif;
        }
        img{
            width: 200px;
            
        }
     
        .wrapper{
            display: flex;
            margin: 0 40%;
            margin-top: 40px;
        }
        .kosong{
            padding-right: 30px;
            
        
        }
        .kosong p{
            width: 200px;
        }
        .berisi p{
            width: 200px;
        }
        
        .fater{
            display: flex;
            margin: 0 40%;
            padding-top: 20px;
        }
        .ini p{
            width: 200px;
            font-size: 15px;
        }
        .ini{
            padding-right: 30px;
        }
        .itu p{
            width: 200px;
        }
